{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Questions</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'slides/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'slides/css/lumen.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'slides/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
</head>

<body id="page-top" class="index">
    <h1>Questions</h1>
    <div>
    <!-- List of questions -->
    {% if questions %}
        {% for question in questions %}
		<p> {{q.text}} : {{q.votes}} votes
		</p>
        {% endfor %}
    {% else %}
        <p>No Questions.</p>
    {% endif %}
    </div>

    <a href="/slides/lecture/" class="btn btn-danger">Main Menu</a>

</body>

</html>
