  <div class="Background-White" ng-init="getcourses()">

student mainmenu
<a ng-click="logout()" class="btn btn-primary">Logout</a>
      <div class="course_menu">
        <div class="course" ng-repeat="c in course_list track by c.pk"
                            ng-click="select_course(c.pk)"> {{ c.fields.name }} </div>
      </div>
    <div id="menu_con" class="content container row-centered">

      <div class="mainmenu_icon col-md-4 col-sm-6" ng-repeat="each in lecture_list"
                                          ng-class="{grey: icon_hover}"
                                          ng-click="select_slide(each.pk)">
      <!--div class="mainmenu_icon" ng-repeat="each in lecture_list track by each.pk"
                                          ng-class="{grey: icon_hover}"
                                          ng-click="select_slide(each.pk)"-->
        <div class='inner_image'> 
          <img class="icon_image" src='https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg'> 
        </div> 
        <div class='headline'> 
          {{each.fields.filename}}
        </div> 
        <div style="float: left; background-color: red;"> info </div>
        <div style="float: left; background-color: blue;"> start </div>
        <div style="float: left; background-color: green;"> delete </div>
        <div> 
      </div> 
    </div>
  </div>
