<!doctype html>
<html lang="" ng-app="lecture">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>frontend</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />

    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/lecturer_view.css">
    <link rel="stylesheet" href="styles/main_menu.css">
    <!-- endbuild -->
    
  </head>
<!-- ------------------------------------------------------------------------- -->
  <body>
    <section ng-controller="MainmenuController as mmCtrl">
      <div class="Background-White" ng-hide="mmCtrl.SharedData.mainmenuHide">
        <div class="sticky_menu">
	  <a href='#' class="lead"  ng-click="mmCtrl.SharedData.mainmenuHide = true">Slide app</a>
	</div>

	<div class="content container row-centered" style="padding-top:50px;">
          <div class="mainmenu_icon col-md-4" ng-repeat="each in mmCtrl.xs"
                                              ng-class="{grey: mmCtrl.icon_hover}"
                                              >
	    <div class='inner_image'> 
	      <img class="icon_image" src='https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg'> 
	    </div> 
	    <div class='headline'> 
              title
	    </div> 
            <div style="float: left; background-color: red;"> info </div>
            <div style="float: left; background-color: blue;"> start </div>
            <div style="float: left; background-color: green;"> delete </div>
            <div> 
	  </div> 
        </div>
          <div class="mainmenu_icon col-md-4"ng-class="{grey: mmCtrl.icon_hover}">
	    <div class='inner_image'> 
	      <img class="icon_image" src=''> 
	    </div> 
	    <div class='headline'> 
              upload new slides
	    </div> 
            <div> 
	  </div>
      </div>
      <a href="http://127.0.0.1:8000/slides/login"> gogogo </a>
      <a href="http://www.google.com"> gogogo </a>
      <div ng-click="mmCtrl.getjson()" class="red"> getjson </div>
      {{ mmCtrl.json }}
    </section>




    <!--//////////////////////////////////////////////////////////////////////////////////////////////-->



    <!-- Top half -->
    <div id="top-half" class="Top-Half" ng-controller="SidesController as sides">
    
      <div class="Left-Container" ng-class="{'Side-Hover' : sides.left_hover}" 
                                  ng-mouseover="sides.left_hover = true"
                                  ng-mouseleave="sides.left_hover = false">
        <div id="prev"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></div>
      </div>
      <canvas id="pdfviewer"></canvas>
      <div class="Right-Container" ng-class="{'Side-Hover' : sides.right_hover}" 
                                  ng-mouseover="sides.right_hover = true"
                                  ng-mouseleave="sides.right_hover = false">
        <div id="next"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></div>
      </div>

    </div>

    <!-- Bar container -->
    <div class="container Bar-Container">
      <p class="lead">Current class status</p>
      <div class="progress progress">
          <div id="red_bar" class="progress-bar progress-bar-danger" style="width: 80%"></div>
          <div class="progress-bar progress-bar-warning" style="width: 0%"></div>
          <div id="green_bar" class="progress-bar progress-bar-success" style="width: 20%"></div>
      </div>
    </div>

    <!-- Menu Bar -->
    <section ng-controller="MenuController as menuCtrl">
    <div id="bottom" >
      <div class="center" ng-mouseover="menuCtrl.hover = true" ng-mouseleave="menuCtrl.hover = false" ng-click="menuCtrl.clicked=true">

        <i class="fa fa-sort-asc" aria-hidden="true" style="height:10px;"></i>
        <p ng-show="menuCtrl.hover">menu </p>
      </div>
      <!--menu-list></menu-list-->
    </div>

    <div id="menu-popup-container" ng-show="menuCtrl.clicked">
      <div id="menu-popup-inner"> 
        <div id="menu-popup-summ-container" ng-mouseover="menuCtrl.summ_hover=true"
                                            ng-mouseleave="menuCtrl.summ_hover=false">
          <div id="menu-popup-summ-inner" ng-class="{'menu-summ-hover': !menuCtrl.summ_hover}">
            <p class="lead bigger-font"><u>summary</u></p>
            <div id="summary-container"> 
              <div class="summary-icon">
                <i class="fa fa-diamond" style="font-size: 40px" aria-hidden="true"></i>
                <p> super x14 </p>
              </div> 
              <div class="summary-icon">
                <i class="fa fa-flash" style="font-size: 40px"aria-hidden="true"></i>
                <p> too fast x5 </p>
              </div> 
              <div class="summary-icon">
                <i class="fa fa-deaf" style="font-size: 40px"aria-hidden="true"></i>
                <p> i'm lost x2 </p>
              </div> 
            </div>
          </div>
        </div>
        <div id="menu-popup-ques-container" ng-mouseover="menuCtrl.ques_hover=true"
                                          ng-mouseleave="menuCtrl.ques_hover=false">
          <div id="menu-popup-ques-inner" ng-class="{'menu-ques-hover': !menuCtrl.ques_hover}">
            <p class="lead bigger-font"><u>questions</u></p>
            <p class="lead normal-font">{{ menuCtrl.ques[0].question }} - {{ menuCtrl.ques[0].votes }} <i class="fa fa-thumbs-up" aria-hidden="true"></i> </p>
            <p class="lead normal-font">{{ menuCtrl.ques[1].question }} - {{ menuCtrl.ques[1].votes}} <i class="fa fa-thumbs-up" aria-hidden="true"></i> </p>
            <p class="lead normal-font">{{ menuCtrl.ques[2].question }} - {{ menuCtrl.ques[2].votes}} <i class="fa fa-thumbs-up" aria-hidden="true"></i> </p>
            <p class="lead normal-font"> ... </p>
          </div>
        </div>
        <div id="menu-popup-navi-container" ng-mouseover="menuCtrl.navi_hover=true"
                                            ng-mouseleave="menuCtrl.navi_hover=false">
          <div id="menu-popup-navi-inner" ng-class="{'menu-navi-hover': !menuCtrl.navi_hover}">
          <p class="lead"><br /> <i class="fa fa-compass fa-2x" aria-hidden="true"></i> </p>
          </div>
        </div>
        <div id="menu-popup-home-container" ng-mouseover="menuCtrl.home_hover=true"
                                            ng-mouseleave="menuCtrl.home_hover=false">
          <div id="menu-popup-home-inner" ng-class="{'menu-home-hover': !menuCtrl.home_hover}" 
                                          ng-click="menuCtrl.SharedData.mainmenuHide = false; menuCtrl.clicked = false" >
          <p class="lead"><br /> <i class="fa fa-home fa-2x" aria-hidden="true"></i> </p>
          </div>
        </div>
        <div id="menu-popup-close">
          <i class="fa fa-times-circle fa-3x" ng-class="{'menu-close-hover': !menuCtrl.close_hover}" 
                                              ng-mouseover="menuCtrl.close_hover = true"
                                              ng-mouseleave="menuCtrl.close_hover = false"
                                              ng-click="menuCtrl.clicked = false" 
                                              aria-hidden="true"></i>
        </div>

      </div>
    </div>
    <div class="Background-Dark" ng-show="menuCtrl.clicked"></div>
    </section>

    




<!-- ------------------------------------------------------------------------- -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/pdf.js-viewer/pdf.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap/js/affix.js"></script>
    <script src="/bower_components/bootstrap/js/alert.js"></script>
    <script src="/bower_components/bootstrap/js/dropdown.js"></script>
    <script src="/bower_components/bootstrap/js/tooltip.js"></script>
    <script src="/bower_components/bootstrap/js/modal.js"></script>
    <script src="/bower_components/bootstrap/js/transition.js"></script>
    <script src="/bower_components/bootstrap/js/button.js"></script>
    <script src="/bower_components/bootstrap/js/popover.js"></script>
    <script src="/bower_components/bootstrap/js/carousel.js"></script>
    <script src="/bower_components/bootstrap/js/scrollspy.js"></script>
    <script src="/bower_components/bootstrap/js/collapse.js"></script>
    <script src="/bower_components/bootstrap/js/tab.js"></script>
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="scripts/websocket.js"></script>
    <script src="scripts/mousetrap.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
