html, body{
  height: 100%;
}

#pdfviewer {
  position: relative;
  height:80%;
  width:100%;
  max-width:1200px;
  box-shadow: 0px 0px 20px #eeeeee;
}

#bar {
  position: absolute;
  left: 20%;
  top: 90%;
  text-align: center;
  width : 100%;
}

.center {
    margin: auto;
    width: 60px;
    padding: 5px;
    text-align: center;
    color: #777777;
    background-color: #FFC6C6;
    box-shadow: 0px 0px 15px #dddddd;
}

.Bar-Container{
  position: relative;
  width: 50%;
  overflow: auto;
  margin: auto;
  padding-top: 3%;
  text-align: center;
}

#prev {
  position: relative;
  top: 30%;
  text-align: center;
  color: #777;
}

.Leftpage-Container {
  position: relative;
  left: 2%;
  top: 2%;
  width: 100%;
  border-style: solid;
  border-color: black;
}

#next {
  position: relative;
  top: 30%;
  text-align: center;
  color: #777;
}

#curr  {
  position: relative;
  top: 30%;
  text-align: center;
  font-size: 150%;
  color: #777;
}

#curr:hover{
  background-color:#ADDDFF;
}

.Rightpage-Container {
  overflow: scroll;
  position: relative;
  padding-top: 1%;
  width: 100%;
  height: 100%;
  max-height: 600px;
  min-width: 100px;
  text-align:center;
}

.Buttons {
  width: 100%;
  height: 10%;
  text-align: center;
}

.Vote-Buttons {
  padding-top: 1%;
  position: relative;
  width: 100%;
  height: 10%;
  text-align: left;
}
.Left-Button {
  float: left;
  width: 20%;
  height: 100%;
}

.Middle-Button {
  float: left;
  overflow:hidden;
  width: 60%;
  height: 100%;
}

.Right-Button {
  overflow:hidden;
  width: 20%;
  height: 100%;
}

.Side-Hover {
  background-color: #ADDDFF;
}

#question {
  width: 100%;
  height: 100px;
}

.following {
  color: #59b2ff !IMPORTANT;
}

.thumb:hover{
  color: #4595ff;
}
