<div id="lecturer_view" ng-controller="LectureCtrl" ng-init="update_question(); get_speed()">
    <!-- Top half -->
    <div class="Top-Half">
    
      <div class="Left-Container" onclick="onPrevPage()" ng-class="{'Side-Hover' : left_hover}" 
                                  ng-mouseover="left_hover = true"
                                  ng-mouseleave="left_hover = false"
                                  >
        <div id="prev"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></div>
      </div>
      <canvas id="pdfviewer"></canvas>
      <div class="Right-Container" onclick="onNextPage()" ng-class="{'Side-Hover' : right_hover}" 
                                  ng-mouseover="right_hover = true"
                                  ng-mouseleave="right_hover = false"
                                  >
        <div id="next"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></div>
      </div>

    </div>

    <!-- Bar container -->
    <div class="container Bar-Container">
      <p class="lead">Current class status</p>
      <div class="progress progress">
          <div class="progress-bar progress-bar-warning" style="width: 0%"></div>
          <div id="green_bar" class="progress-bar progress-bar-success" style="width: 0%"></div>
          <div id="red_bar" class="progress-bar progress-bar-danger" style="width: 0%"></div>
      </div>
    </div>
    <!-- Menu Bar -->
    <section >
    <div id="bottom" >
      <div class="center" ng-mouseover="hover = true" ng-mouseleave="hover = false" ng-click="clicked=true">

        <i class="fa fa-sort-asc" aria-hidden="true" style="height:10px;"></i>
        <p ng-show="hover">menu </p>
      </div>
      <!--menu-list></menu-list-->
    </div>
    <div id="menu-popup-container" ng-show="clicked">
      <div id="menu-popup-inner"> 
        <div id="menu-popup-summ-container" ng-mouseover="summ_hover=true"
                                            ng-mouseleave="summ_hover=false">
          <div id="menu-popup-summ-inner" ng-class="{'menu-summ-hover': !summ_hover}">
            <p class="lead bigger-font"><u>summary</u></p>
            <div id="summary-container"> 
              <div class="summary-icon">
                <i class="fa fa-flash" style="font-size: 40px" aria-hidden="true"></i>
                <p> too fast x {{fast}} </p>
              </div> 
              <div class="summary-icon">
                <i class="fa fa-hourglass-end" style="font-size: 40px"aria-hidden="true"></i>
                <p> too slow x {{ slow }} </p>
              </div> 
              <div class="summary-icon">
                <i class="fa fa-users" style="font-size: 40px"aria-hidden="true"></i>
                <p> active x </p>
              </div> 
            </div>
          </div>
        </div>
        <div id="menu-popup-ques-container" ng-mouseover="ques_hover=true"
                                          ng-mouseleave="ques_hover=false"
                                          ng-click="goto_questions()">
          
          <div id="menu-popup-ques-inner" ng-class="{'menu-ques-hover': !ques_hover}">
            <p class="lead bigger-font"><u>questions</u></p>
            <p class="lead normal-font">On page {{ques[0].page}}, {{ ques[0].text }} - {{ ques[0].votes }} <i class="fa fa-thumbs-up" aria-hidden="true"></i> </p>
            <p class="lead normal-font">On page {{ques[1].page}}, {{ ques[1].text }} - {{ ques[1].votes }} <i class="fa fa-thumbs-up" aria-hidden="true"></i> </p>
            <p class="lead normal-font">On page {{ques[2].page}}, {{ ques[2].text }} - {{ ques[2].votes }} <i class="fa fa-thumbs-up" aria-hidden="true"></i> </p>
            <p class="lead normal-font"> ... </p>
          </div>
        </div>
        <div id="menu-popup-navi-container" ng-mouseover="navi_hover=true"
                                            ng-mouseleave="navi_hover=false">
          <div id="menu-popup-navi-inner" ng-class="{'menu-navi-hover': !navi_hover}">
          <p class="lead"><br /> <i class="fa fa-compass fa-2x" aria-hidden="true"></i> </p>
          </div>
        </div>
        <div id="menu-popup-home-container" ng-mouseover="home_hover=true"
                                            ng-mouseleave="home_hover=false">
          <div id="menu-popup-home-inner" ng-class="{'menu-home-hover': !home_hover}" 
                                          ng-click="clicked = false; backhome()" >
          <p class="lead"><br /> <i class="fa fa-home fa-2x" aria-hidden="true"></i> </p>
          </div>
        </div>
        <div id="menu-popup-close">
          <i class="fa fa-times-circle fa-3x" ng-class="{'menu-close-hover': !close_hover}" 
                                              ng-mouseover="close_hover = true"
                                              ng-mouseleave="close_hover = false"
                                              ng-click="clicked = false" 
                                              aria-hidden="true"></i>
        </div>

      </div>
    </div>
    <div class="Background-Dark" ng-show="clicked"></div>
</div>

    <script> 
// example of calling controller function from outside controller, click left to try
var al = function al(){
  var scope = angular.element(document.getElementById('lecturer_view')).scope();
  scope.$apply(function(){
    scope.click('x');
  });
}

    </script>
    <!-- websocket control -->
    <script>
      console.log('websocket.js used');
      var socket = new WebSocket('ws://127.0.0.1:8000/user/'+localStorage.getItem('token')+'/');
      socket.onmessage = function(message){
        var scope = angular.element(document.getElementById('lecturer_view')).scope();
        var data = JSON.parse(message.data);
        if(data.type == 'clicker'){
          if(data.nav == 'next'){
            onNextPage();
          } else if(data.nav == 'prev'){
            onPrevPage();
          } else if(data.nav == 'menu'){
            scope.$apply(function(){
              scope.clicked = !scope.clicked;
            });
          }
        }
        if(data.type == 'bar'){
          document.getElementById('red_bar').style.width = data.red_bar + '%';
          document.getElementById('green_bar').style.width = data.green_bar + '%';
        }
        if(data.type == 'question'){
          // call controller function: update_question()
          scope.$apply(function(){
            scope.update_question();
          });
        }
        if(data.type == 'speed'){
            //data.fast , data.slow
          scope.$apply(function(){
            scope.update_speed(data.fast, data.slow);
          });
        }
        if(data.type == 'nav'){
          // ignore
        }
      }
    </script>
  <script>
var x = function(){alert(angular.element(document.getElementById('lecturer_view')).scope().clicked);};
  </script>

      
  <!-- pdf control -->
  <script>
  //
  // If absolute URL from the remote server is provided, configure the CORS
  // header on that server.
  //
  var url = 'http://127.0.0.1:8000/slides/get_pdf/';


  //
  // Disable workers to avoid yet another cross-origin issue (workers need
  // the URL of the script to be loaded, and dynamically loading a cross-origin
  // script does not work).
  //
  PDFJS.disableWorker = true;

  //
  // In cases when the pdf.worker.js is located at the different folder than the
  // pdf.js's one, or the pdf.js is executed via eval(), the workerSrc property
  // shall be specified.
  //
  // PDFJS.workerSrc = '../../build/pdf.worker.js';

  var pdfDoc = null,
      pageNum = 1,
      pageRendering = false,
      pageNumPending = null,
      scale = 1.5,
      canvas = document.getElementById('pdfviewer'),
      ctx = canvas.getContext('2d');

      // adding token header to pdfjs request
      var docInitParams = new Object();
      docInitParams.url = url;
      docInitParams.httpHeaders = {"Authorization":"Token "+localStorage.getItem('token')};

  /**
   * Get page info from document, resize canvas accordingly, and render page.
   * @param num Page number.
   */
  function renderPage(num) {
    pageRendering = true;
    // Using promise to fetch the page
    pdfDoc.getPage(num).then(function(page) {
      var viewport = page.getViewport(scale);
      canvas.height = viewport.height;
      canvas.width = viewport.width;

      // Render PDF page into canvas context
      var renderContext = {
        canvasContext: ctx,
        viewport: viewport
      };
      var renderTask = page.render(renderContext);

      // Wait for rendering to finish
      renderTask.promise.then(function () {
        pageRendering = false;
        if (pageNumPending !== null) {
          // New page rendering is pending
          renderPage(pageNumPending);
          pageNumPending = null;
        }
      });
    });

  }

  /**
   * If another page rendering in progress, waits until the rendering is
   * finised. Otherwise, executes rendering immediately.
   */
  function queueRenderPage(num) {
    if (pageRendering) {
      pageNumPending = num;
    } else {
      renderPage(num);
    }
  }

  /**
   * Displays previous page.
   */
  function onPrevPage() {
    if (pageNum <= 1) {
      return;
    }
    var scope = angular.element(document.getElementById('lecturer_view')).scope();
  scope.$apply(function(){
      scope.prev().success(function(data){
       pageNum = data.page
       queueRenderPage(pageNum);
        scope.get_mood().success(function(data){
            document.getElementById('red_bar').style.width = data.bad + '%';
            document.getElementById('green_bar').style.width = data.good + '%';
        });
       console.log('prev');
      });
  });
  }

  /**
   * Displays next page.
   */
  function onNextPage() {

    if (pageNum >= pdfDoc.numPages) {
      return;
    }
    var scope = angular.element(document.getElementById('lecturer_view')).scope();
  scope.$apply(function(){
      scope.next().success(function(data){
       pageNum = data.page
       queueRenderPage(pageNum);
        scope.get_mood().success(function(data){
            document.getElementById('red_bar').style.width = data.bad + '%';
            document.getElementById('green_bar').style.width = data.good + '%';
        });
       console.log('next');
      });
  });
  }

  /**
   * Asynchronously downloads PDF.
   */
  PDFJS.getDocument(docInitParams).then(function (pdfDoc_) {
    pdfDoc = pdfDoc_;
    var scope = angular.element(document.getElementById('lecturer_view')).scope();
    scope.$apply(function(){
      scope.curr().success(function(data){
       pageNum = data.page
       renderPage(pageNum);
       console.log('init page = '+ pageNum);
        scope.get_mood().success(function(data){
            document.getElementById('red_bar').style.width = data.bad + '%';
            document.getElementById('green_bar').style.width = data.good + '%';
        });
       console.log('init');
      });
    });
  });
</script>
    <!-- mousetrap control -->
    <!--script>
      Mousetrap.bind(['right','space'], onNextPage());
      Mousetrap.bind('left', onPrevPage());
    </script-->

