<section>
  <div class="Background-White" ng-init="getcourses()">

      <div class="course_menu">
        <div class="course" ng-repeat="c in course_list track by c.pk"
                            ng-click="select_course()"> {{ c.fields.name }} </div>
      </div>
    <div id="menu_con" class="content container row-centered">

      <div class="mainmenu_icon col-md-4 col-sm-6" ng-repeat="each in lecture_list"
                                          ng-class="{grey: icon_hover}"
                                          ng-click="select_slide(each.pk)">
      <!--div class="mainmenu_icon" ng-repeat="each in lecture_list track by each.pk"
                                          ng-class="{grey: icon_hover}"
                                          ng-click="select_slide(each.pk)"-->
        <div class='inner_image'> 
          <img class="icon_image" src='https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg'> 
        </div> 
        <div class='headline'> 
          {{each.filename}}
        </div> 
        <div style="float: left; background-color: red;"> info </div>
        <div style="float: left; background-color: blue;"> start </div>
        <div style="float: left; background-color: green;"> delete </div>
        <div> 
      </div> 
    </div>
  </div>
  <div id="extras" style="position:absolute; bottom:0px; right:0px; border-style:dotted;">
    <a href="http://127.0.0.1:8000/slides/login"> gogogo </a>
    <a href="http://www.google.com"> gogogo </a>
    <div ng-click="getjson()" class="red"> getjson </div>
    {{ json }} <br>
    {{ course_list }}
    <p>Username: {{ username }} </p>
    <a ng-click="logout()" class="btn btn-primary">Logout</a>
  </div>
</section>
