<link rel="stylesheet" href="styles/student_view.css">
<div id="student_view" ng-controller="StudentViewCtrl">
    <!-- Top half -->
    <div class="row" ng-init="update_question()">
      <div class="col-lg-6">
        <canvas id="pdfviewer"></canvas>
        <div class="Buttons">
          <div class="Left-Button" ng-class="{'Side-Hover' : sides.left_hover}" 
                                   ng-mouseover="sides.left_hover = true"
                                   ng-mouseleave="sides.left_hover = false"
                                   ng-click="toggle_follow = false"
                                   onclick="onPrevPage()">
            <div id="prev"><i class="fa fa-angle-left fa-2x" aria-hidden="true"></i></div>
          </div>
          <div class="Middle-Button" ng-click="current"> 
            <div id="curr" ng-class="{following:toggle_follow}" ng-click="toggle_follow = !toggle_follow">Current</div>
          </div>
          <div class="Right-Button" ng-class="{'Side-Hover' : sides.right_hover}" 
                                    ng-mouseover="sides.right_hover = true"
                                    ng-mouseleave="sides.right_hover = false"
                                    ng-click="toggle_follow = false"
                                    onclick="onNextPage()">
            <div id="next"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></div>
          </div>
        </div>
        <div class="Vote-Buttons">
          <a class="btn btn-success" style="color:#3b693b;" ng-click="happy()"><i class="fa fa-smile-o fa-3x" aria-hidden="true"></i></a>
          <a class="btn btn-danger" style="color:#8a3533;" ng-click="unhappy()"><i class="fa fa-frown-o fa-3x" aria-hidden="true"></i></a>
          <button ng-click="toggle_follow_toggle()">Too Slow</button>
          <button ng-click="slow">Too Fast</button>
        </div>
        <div class="Bar-Container">
          <p class="lead">Current class status</p>
          <div class="progress progress">
            <div class="progress-bar progress-bar-warning" style="width: 0%"></div>
            <div id="green_bar" class="progress-bar progress-bar-success" style="width: 0%"></div>
            <div id="red_bar" class="progress-bar progress-bar-danger" style="width: 0%"></div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="Rightpage-Container">
          <p class="lead"> Questions </p> 
          <p class="lead normal-font" ng-repeat="q in ques track by q.id">
            <span class="lead normal-font">{{ q.text }} - {{ q.votes }}</span>
            <span class="thumb" ng-click="upvote(q.id)"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
          </p>
        </div>
        <form role="form" ng-submit="addQuestion()">
          <input id="question" type="text" ng-model="question" placeholder="Ask a Question!">
          <input type="submit" value="Ask" class="btn btn-info"style="float: right">
        </form>
      </div>
    </div>
</div>
    <!-- websocket control -->
    <script>
      console.log('websocket.js used');
      var socket = new WebSocket('ws://127.0.0.1:8000/user/'+localStorage.getItem('token')+'/');
      socket.onmessage = function(message){
        var data = JSON.parse(message.data);
        if(data.type == 'bar'){
          document.getElementById('red_bar').style.width = data.red_bar + '%';
          document.getElementById('green_bar').style.width = data.green_bar + '%';
        }
        if(data.type == 'question'){
          // call controller function: update_question()
          scope.$apply(function(){
            scope.update_question();
          });
        }
        if(data.type == 'nav'){
          onFollowPage();
        }


      }
    </script>


  <!-- pdf control -->
  <script>
  //
  // If absolute URL from the remote server is provided, configure the CORS
  // header on that server.
  //
  var url = 'http://127.0.0.1:8000/slides/get_pdf/';


  //
  // Disable workers to avoid yet another cross-origin issue (workers need
  // the URL of the script to be loaded, and dynamically loading a cross-origin
  // script does not work).
  //
  PDFJS.disableWorker = true;

  //
  // In cases when the pdf.worker.js is located at the different folder than the
  // pdf.js's one, or the pdf.js is executed via eval(), the workerSrc property
  // shall be specified.
  //
  // PDFJS.workerSrc = '../../build/pdf.worker.js';

  var pdfDoc = null,
      pageNum = 1,
      pageRendering = false,
      pageNumPending = null,
      scale = 1.5,
      canvas = document.getElementById('pdfviewer'),
      ctx = canvas.getContext('2d');

      // adding token header to pdfjs request
      var docInitParams = new Object();
      docInitParams.url = url;
      docInitParams.httpHeaders = {"Authorization":"Token "+localStorage.getItem('token')};

  /**
   * Get page info from document, resize canvas accordingly, and render page.
   * @param num Page number.
   */
  function renderPage(num) {
    pageRendering = true;
    // Using promise to fetch the page
    pdfDoc.getPage(num).then(function(page) {
      var viewport = page.getViewport(scale);
      canvas.height = viewport.height;
      canvas.width = viewport.width;

      // Render PDF page into canvas context
      var renderContext = {
        canvasContext: ctx,
        viewport: viewport
      };
      var renderTask = page.render(renderContext);

      // Wait for rendering to finish
      renderTask.promise.then(function () {
        pageRendering = false;
        if (pageNumPending !== null) {
          // New page rendering is pending
          renderPage(pageNumPending);
          pageNumPending = null;
        }
      });
    });

  }

  /**
   * If another page rendering in progress, waits until the rendering is
   * finised. Otherwise, executes rendering immediately.
   */
  function queueRenderPage(num) {
    if (pageRendering) {
      pageNumPending = num;
    } else {
      renderPage(num);
    }
  }

  /**
   * Displays previous page.
   */
  function onPrevPage() {
    if (pageNum <= 1) {
      return;
    }
    var scope = angular.element(document.getElementById('student_view')).scope();
  scope.$apply(function(){
      scope.prev().success(function(data){
       pageNum = data.page
       queueRenderPage(pageNum);
       scope.update_question()
       console.log('prev');
      });
  });
  }

  /**
   * Displays next page.
   */
  function onNextPage() {

    if (pageNum >= pdfDoc.numPages) {
      return;
    }
    var scope = angular.element(document.getElementById('student_view')).scope();
  scope.$apply(function(){
      scope.next().success(function(data){
       pageNum = data.page
       queueRenderPage(pageNum);
       scope.update_question()
       console.log('next');
      });
  });
  }

// follow lecturer current page
  function onFollowPage() {

    var scope = angular.element(document.getElementById('student_view')).scope();
  scope.$apply(function(){
      scope.follow().success(function(data){
       if (data.page != 0) {
        pageNum = data.page
        queueRenderPage(pageNum);
        scope.update_question()
        console.log('follow');
       }
      });
  });
  }

  /**
   * Asynchronously downloads PDF.
   */
  PDFJS.getDocument(docInitParams).then(function (pdfDoc_) {
    pdfDoc = pdfDoc_;
    renderPage(pageNum);
  });
</script>

